.cartitmes {
  margin: 100px 170px;
}
.cartitmes h1 {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cartitmes-format-main {
  display: grid;
  grid-template-column: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.cartitems-format {
  font-siza: 17px;
  font-weight: 500;
}
.carticon-product-icon {
  height: 62px;
}
.cartitmes-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}
.cartitems-down {
  display: flex;
  margin: 100px 0px;
}
.cartitmes-total {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.cartitems-total-items {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cartitems-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-siza: 16px;
  font-height: 600;
  cursor: pointer;
}
.cartitmes-promocode {
  flex: 1;
  font-siza: 16px;
  font-weight: 500;
}
.cartitmes-promocode p {
  color: #555;
}
.cartitmes-promobox {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
}
.cartitmes-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-siza: 16px;
  width: 330px;
  height: 50px;
}
.cartitmes-promobox button {
  width: 170px;
  height: 58px;
  font-siza: 16px;
  background: black;
  color: white;
  cursor: pointer;
}
